/* 구글 폰트 링크 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Gowun Batang', serif !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px !important;
}

button {
    background-color: #f9f7f3;
    color: black;
    cursor: pointer;
    border: #f9f7f3;
    border-radius: 15px !important;
    margin: 5px !important;
}

button:hover {
    background-color: #f9f7f3;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

li button:hover {
    background-color: #CC0000;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

#photoPostGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

#timer {
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
}

#startStopButton, #logButton, #saveButton {
    border-radius: 30px;
}

.navbar {
    background-color: #fffacd;
    border-radius: 20px;
    padding: 5px 20px; /* 상하 간격을 줄이고 좌우 간격을 늘림 */
    margin: 20px 0; /* 네브바 위아래에 공간 추가 */
    height: 50px; /* 네브바의 높이 조절 */
    width: 100%; /* 네브바를 가로로 길게 */
    display: flex;
    justify-content: center; /* 네브바 항목을 중앙으로 정렬 */
    align-items: center;
}

.navbar-brand {
    margin-right: center; /* 브랜드를 왼쪽 정렬 */
}

.navbar-nav {
    display: flex;
    flex-direction: row; /* 네브바 항목들을 가로로 배치 */
    align-items: center;
    justify-content: center; /* 네브바 항목들을 중앙 정렬 */
    flex: 1; /* 네브바 항목들이 전체 너비를 차지하도록 설정 */
}

.navbar .nav-item {
    margin: 0 10px; /* 네브바 아이템 간의 간격 조정 */
    border: none !important;
    display: flex !important;
}

.navbar .nav-item .nav-link {
    color: #333;
    padding: 5px 10px; /* 링크의 상하 간격을 줄임 */
    border: none !important;
}

.navbar .nav-item .nav-link:hover {
    background-color: #f0e68c;
    color: #000;
    align-items: center !important;
}

.semi-title {
    font-size: 20px;
    text-align: center;
}
